.custom-course-container {
    background-color: #f8f9fa;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.course-heading {
    font-size: 1.8rem;
    font-weight: bold;
}

.lesson-title {
    font-size: 1.1rem;
    font-weight: bold;
    color: #212529;
}

.lesson-duration {
    font-size: 0.9rem;
    color: #495057;
}

.material-title {
    font-size: 1.2rem;
    font-weight: bold;
}

.custom-thumbnail {
    border-radius: 8px;
    object-fit: cover;
}

.course-image{
    width: 100px;
    height: 150px; max-width: 150px; object-fit: cover; border-radius: 8px; margin-right: 15px;
}